*
{
    scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;	
}
body{
    background: #fff;
    justify-content: center;
	align-items: center;
	min-height: 100vh;
}
header{
    position: relative;
    left: 0;
    top: -20px;
    padding: 0px 70px;
    display: flex;
    z-index: 10000;
}
header .logo img{

    width: 150px;
    height: 150px;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    width: 100%;
    justify-content: flex-end; 
    align-items: center;
}
header ul li
{
	list-style: none;
	margin-left: 20px;
}
header ul li a
{
	text-decoration: none;
	padding: 10px 15px;
	color: #000;
	border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
	background: #000;
	color: #fff;
}
.imgkey img{
    width: 1440px;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
	flex-wrap: wrap;
	padding: 40px 0;
}
.explore .box{
    left: 120px;
    display: inline-flex;
	position: relative;
	width: 320px;
	height: 440px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
				inset -5px -5px 5px rgba(7, 5, 18,0.5),
				5px 5px 5px rgba(0,0,0,0.05),
				-5px -5px 5px rgba(7, 5, 18,0.5);
	border-radius: 15px;
	margin: 30px;
}
.explore .box .box2{
    position: absolute;
    top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
    background: linear-gradient(0deg, rgba(237,0,255,1) 0%,
	 rgba(0,20,255,1) 100%);
    border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.explore .box:hover .box2{
    transform: translateY(-50px)
}
.explore .box .box2 .textbox{
	padding: 20px;
	text-align: center;
}
.explore .box .box2 .textbox a{
    position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: #03a9f4;
	margin-top: 15px;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
}
.explore .box:hover .box2 .textbox a{
	background: #ff568f;
}
.explore .box .box2 .textbox h3{
	font-size: 1.5em;
	color: #fff;
	z-index: 1;
	transition: 0.5s;
}
.explore .box .box2 .textbox p{
	font-size: 1em;
	font-weight: 300;
	color: #fff;
	z-index: 1;
	transition: 0.5;
}
