*
{
    scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;	
}
body{
    background: #fff;
    justify-content: center;
	align-items: center;
	min-height: 100vh;
}
header{
    position: relative;
    left: 0;
    top: -20px;
    padding: 0px 70px;
    display: flex;
    z-index: 10000;
}
header .logo img{

    width: 150px;
    height: 150px;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    width: 100%;
    justify-content: flex-end; 
    align-items: center;
}
header ul li
{
	list-style: none;
	margin-left: 20px;
}
header ul li a
{
	text-decoration: none;
	padding: 10px 15px;
	color: #000;
	border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
	background: #000;
	color: #fff;
}
.imgkey img{
    width: 1440px;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .productsize{
    padding: 5px 100%;
    background: #040D3A;
}
.product .productsize p{
    color: #fff;
    text-align: -moz-center; 
    text-align: -webkit-center; 
}
.store .allkeyboard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.store .allkeyboard .boxkey{
    padding: 85px 60px;
    background: #f9f9f9;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin: 20px;
    transition: 0.5s;
}
.store .allkeyboard .boxkey .key60 p{
    text-align: -moz-center; 
    text-align: -webkit-center; 
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.store .allkeyboard .boxkey .key60 a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    color: #fff;
    background: #03a9f4;
    border-radius: 20px;
}
.store .allkeyboard .boxkey:hover .key60 a{
    background: #ff568f;
}
.store .allkeyboard .boxkey .key60 img{
    display: block; 
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.store .allkeyboard .boxkey:hover{
    box-shadow: 0 0 10px #cecece;
    transform: translateY(-15px);
    transition: 0.5s;
}